################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/just/v15/.suo
/.vs/just/v15/Server/sqlite3
/just.sln
